---
layout: default
title: Diagnostic
permalink: diagnostic
---
<script src="/assets/js/skills.js"></script>


{% assign skills = site.skills %}



<script>var skillGroups = [];</script>


<div class="row">
  <div class="col-md-3">
    <p class="lead">Choose the level that best fits your experience.</p>
    <p><strong>Beginner</strong> = I have never done this</p>
    <p><strong>Novice</strong> = I have done this once or twice</p>
    <p><strong>Experienced</strong> = I have done this many times in different environments</p>
    <p><strong>Expert</strong> = I am often called upon to support other people to do this</p>
  </div><!-- end of instructions column -->
  <div class="col-md-9">
  <div class="assessmentSlider" id="assessmentSlider">

    {% for c in skills %}
     {% for item in c.items %}


    <div class="row"><!-- New row for each question -->
      <script>skillGroups.push(["{{ c.title }}","{{ c.ID }}_{{ item.ID }}",0]);</script>
      <div class="col-md-12">
        
          
        <h4>{{ item.name }}</h4>
        <div>{{ item.info }}</div>
        
        <div class="row" id="radio-buttons">
        <div class="col-xl-3">
          <input type="radio" id="{{ c.ID }}_{{ item.ID }}_0" name="{{ c.ID }}_{{ item.ID }}" value="0" >
          <label class="unchecked" for="{{ c.ID }}_{{ item.ID }}_0">Not relevant</label>
        </div>
        <div class="col-xl-2">
          <input type="radio" id="{{ c.ID }}_{{ item.ID }}_1" name="{{ c.ID }}_{{ item.ID }}" value="1">
          <label class="unchecked" for="{{ c.ID }}_{{ item.ID }}_1">Beginner</label>
        </div>
        <div class="col-xl-2">
          <input type="radio" id="{{ c.ID }}_{{ item.ID }}_2" name="{{ c.ID }}_{{ item.ID }}" value="2">
          <label class="unchecked" for="{{ c.ID }}_{{ item.ID }}_2">Novice</label>
        </div>
        <div class="col-xl-3">
          <input type="radio" id="{{ c.ID }}_{{ item.ID }}_3" name="{{ c.ID }}_{{ item.ID }}" value="3">
          <label class="unchecked" for="{{ c.ID }}_{{ item.ID }}_3">Experienced</label>
        </div>
        <div class="col-xl-2">
          <input type="radio" id="{{ c.ID }}_{{ item.ID }}_4" name="{{ c.ID }}_{{ item.ID }}" value="3">
          <label class="unchecked" for="{{ c.ID }}_{{ item.ID }}_4">Expert</label>
        </div>
      </div><!-- end of radio buttons row -->
      </div><!-- end of column -->
    </div><!-- end of row -->
  

        {% endfor %}
    {% endfor %}


<!--<div class="text-center"><button type="submit" class="btn btn-primary">Produce assessment graph</button></div>-->
    </div> <!-- end of slider -->
  </div><!-- end of column containing form -->
  </div><!-- end of row -->
<!-- Button trigger modal -->
  <div class="text-center">
    <button id="start" type="submit" class="btn btn-secondary">Return to start</button>
    <button id="previous" type="submit" class="btn btn-secondary">Previous</button>
    <button id="next" type="submit" class="btn btn-secondary">Next</button>
    <button id="showSummary" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Show summary
    </button>
  </div>

<p>&nbsp;</p>
<p class="text-center">Please note, this is a prototype. Your data is not currently stored on our systems. If you wish to retain it, please take a copy of the summary.</p>




</div> <!-- End of column -->

<!-- Modal Summary -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="diagnosticTitle">Diagnostic summary <br><span id="datetime"></span></h1>

        <script>
          // create a function to update the date and time
          function updateDateTime() {
            // create a new `Date` object
            const now = new Date();
    
            // get the current date and time as a string
            const currentDateTime = now.toLocaleString();
    
            // update the `textContent` property of the `span` element with the `id` of `datetime`
            document.querySelector('#datetime').textContent = currentDateTime;
          }
    
          // call the `updateDateTime` function every second
          setInterval(updateDateTime, 1000);
        </script>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      <div class="modal-body">
        <div class="text-center">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          <a type="button" id="downloadChart" class="btn btn-secondary m-1" download="skill-assessment">Download chart</a>
          <a type="button" id="printSummary" class="btn btn-secondary m-1" href="#">Print summary</a>
          <a type="button" href="https://cal.com/markberthelemy" target="_blank" class="btn btn-primary m-1">Talk to a coach</a>
        </div>
        <div class="chartContainer">
          <img id = "radarChartImage" class="img-fluid" src="#" alt="Radar chart">
          <canvas id="radarChart"></canvas>
        </div>
      </div>
      
      <div class="container"><!-- List of skills-->
        <h2>Your data</h2>
        <p>Please check that you have completed everything that you need to.</p>
        <table class="table">
          <thead>
            <th>Category</th>
            <th>Skill</th>
            <th>Level</th>
            
          </thead>

        <tbody id="summaryTable"></tbody>

      </table>
      </div><!-- End of list of skills -->
      <div class="modal-footer">
        
      </div>
    </div>
  </div>

  

</div>




