
<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center">
              Copyright
              <script type="text/javascript">
              document.write(new Date().getFullYear());
              </script>
               <a href="https://mark.berthelemy.net" target="_blank">Mark Berthelemy</a>
          </div>
          <div class="col-md-6">
            <p class="text-center">SIRET: <a href="https://data.inpi.fr/entreprises/848166443" target="_blank">84816644300012
            </a></p>
          </div>
        </div>
      </div>



    </footer>
