---
layout: default
---
<!--<p><a href="https://github.com/Wyver-Solutions/wyveracademy/blob/gh-pages/_collections/{{ page.path }}">Comment on Github</a></p>-->
<p class="lead">{{ page.description }}</p>

  {% for i in page.items %}
  <div class="row">
  <div class="col-md-3">
    <strong>{{ i.name }}</strong>
  </div>
  <div class="col-md-9">
    {{ i.info }}
  </div>
  </div>
  <hr>
  {% endfor %}


<div class="text-center m-2" >
  <a href="{{ site.baseurl }}/skills/all"><button type="button" class="btn btn-secondary m-2">View all skills</button></a>
  <a href="{{ site.baseurl }}/diagnostic"><button type="button" class="btn btn-secondary m-2">Do the self-diagnostic exercise</button></a>
  <a class="btn btn-primary m-4" href="{{ site.bookinglink }}" role="button">Book a free, initial call</a>
</div>
