---
layout: default
---
<p>{{ page.description }}</p>

{% assign skills = site.skills | sort: "title" %}
{% for c in skills %}
<div class="row">
  <div class="col-12">
  <h2>{{ c.title }}</h2>
  <p class="lead">{{ c.description }}</p>
  </div>
</div>
  {% for item in c.items %}
<div class="row">
      <div class="col-md-3">
        <strong>{{ item.name }}</strong>
      </div>
      <div class="col-md-9">
        {{ item.info }}
      </div>
      
 </div>
 


    {% endfor %}
    <hr>
{% endfor %}

{{ content }}
